* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #4249ed;
}
#toggle-btn,
.menu a {
  position: absolute;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.menu a {
  background-color: #ffffff;
  height: 70px;
  width: 70px;
  font-size: 22px;
  color: #4249ed;
  text-decoration: none;
  top: 30px;
  left: 30px;
  transition: 0.5s;
}
#toggle-btn {
  background-color: #0f1730;
  color: #ffffff;
  height: 100px;
  width: 100px;
  border: none;
  font-size: 40px;
  top: 15px;
  left: 15px;
  transition: 0.3s;
  cursor: pointer;
}
.active {
  transform: rotate(45deg);
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
  /* This makes the content wrapper take up available space */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the cards horizontally */
  justify-content: center;
  /* Center the cards vertically */
}

.card {
  margin: 20px;
}

footer {
  /* background-color: #00ffe1; */
  text-align: center;
  color: #fa0404be;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 25px;
}