
 *, *:after, *:before {
	 box-sizing: border-box;
}
 body {
	 font-family: "Inter", sans-serif;
     overflow: hidden;
	 line-height: 1.5;
	 min-height: 100vh;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 background-color: #0ba1ec;
}
 .menu {
	 padding: 2rem;
	 background-color: #2c2e2f;
	 position: relative;
	 width: calc(130px + 4 * 70px + 4rem);
	 display: flex;
	 justify-content: center;
	 border-radius: 20px 20px;
	 box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.4);
}
 .link {
	 display: inline-flex;
	 justify-content: center;
	 align-items: center;
	 width: 70px;
	 height: 50px;
	 border-radius: 99em;
	 position: relative;
	 z-index: 1;
	 overflow: hidden;
	 transform-origin: center left;
	 transition: width 0.2s ease-in;
	 text-decoration: none;
	 color: white;
}
 .link:before {
	 position: absolute;
	 z-index: -1;
	 content: "";
	 display: block;
	 border-radius: 99em;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 transform: translateX(100%);
	 transition: transform 0.2s ease-in;
	 transform-origin: center right;
     border: 1px dotted whitesmoke;
	 background-color: #2c2e2f;
}
 .link:hover, .link:focus {
	 outline: 0;
	 width: 130px;
}
 .link:hover:before, .link:focus:before, .link:hover .link-title, .link:focus .link-title {
	 transform: translateX(0);
	 opacity: 1;
}
 .link-icon {
	 width: 28px;
	 height: 28px;
	 display: block;
	 flex-shrink: 0;
	 left: 18px;
	 position: absolute;
}
 .link-icon svg {
	 width: 28px;
	 height: 28px;
}
 .link-title {
	 transform: translateX(100%);
	 transition: transform 0.2s ease-in;
	 transform-origin: center right;
	 display: block;
	 text-align: center;
	 text-indent: 28px;
	 width: 100%;
}

footer {
	font-size: large;
	text-align: center;
	color: #fa0404be;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 25px;
}
 