@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color:#000;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.container{
    max-width: 1100px;
    width: 90%;
    margin: 0% auto;
}

.banner img{
    margin: 1.5rem;
    width: 98%;
    height: auto;
}

.banner h1{
    margin: 1rem auto;
    padding: 0.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
    display: block;
    color: #333;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.banner p{
    color: #777;
    text-align: center;
    font-size: 1.8rem;

}

.flex2{
    display: flex;
    justify-content: space-between;
}

.flex3{
    display: flex;
    justify-content: space-between;
}

.form{
    margin: 5rem auto;
    background: #DBEFEA;
    padding: 2rem 0;
    border-radius: 3.5rem 0 3.5rem 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.one, .flex{
    flex-basis: 48%;
    font-size: 1.6rem;
    margin: 1.2rem;
}

.two{
    flex-basis: 33%;
    font-size: 1.6rem;
    margin: 1.2rem;
}

.one legend{
    margin: 1rem 0;
}

#name, #email, #mobile {
    width: 100%;
    padding: 1.2rem;
    height: 40px;
    margin: 1rem 0;
    border-radius: 1.5rem 0 1.5rem 0;
    background: #F5f5f5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.one label, .flex label, .two label{
    padding: 0 0.8rem;
}

#name::placeholder, #email::placeholder, #mobile::placeholder, #bio::placeholder{
    font-size: 1.5rem;
}

.one .gender input{
    margin: 0 0.2rem;
}

.flex textarea{
    width: 100%;
    height: 100%;
    padding: 1.2rem;
    margin: 1rem 0;
    border-radius: 2.5rem 0 2.5rem 0;
    background: #F5f5f5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#file{
    margin: 0.5 rem;
    padding: 0 0.5rem;
}

.div{
    display: flex;
    justify-content: center;
}

.submit{
    border: 2px solid #0C8765;
    display: block;
    color: #0C8765;
    font-size: 2.2rem;
    padding: 0.4rem;
    margin: 1.5rem;
    text-align: center;
    border-radius: 1rem 0 1rem 0;
    font-weight: 500;
    letter-spacing: 0.3rem;
    cursor: pointer;
    width: 170px;
    height: 40px;
    transition: 0.5s ease-in;
}

.submit:hover{
    background-color:#0C8765;
    color: #f5f5f5;
}