body {
  padding: 0;
  margin: 0;
}
.container {
  font-family: "Poppins", sans-serif;
  height: 6.25em;
  width: 12.5em;
  background: linear-gradient(to right, #4b4b4b, #111111);
  border-radius: 12.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: inset 0.9em 0 0.9em #171717;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.3s;
}
input[type="radio"] {
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
}
label {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .container {
    font-size: 1.5em;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
  /* This makes the content wrapper take up available space */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the cards horizontally */
  justify-content: center;
  /* Center the cards vertically */
}

.card {
  margin: 20px;
}

footer {
  /* background-color: #00ffe1; */
  text-align: center;
  color: #fa0404be;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 25px;
}