.centered
	.card.border-left-behind
		.shadow(style="--url: url('https://i.ibb.co/PM4ghD4/full.png')")
		.image.background(style="--url: url('https://i.ibb.co/JpJVJxq/Background.png')")
		.image.cutout(style="--url: url('https://i.ibb.co/Dw3q3tZ/cutout.png')")
		.content
			h2 Hover me!
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
	.card.border-right-behind.border-bottom-behind
		.shadow(style="--url: url('https://i.ibb.co/DC0MbxS/m-full.png')")
		.image.background(style="--url: url('https://i.ibb.co/ZdGBm4K/m-background.png')")
		.image.cutout(style="--url: url('https://i.ibb.co/RC70XmC/m-cutout.png')")
		.content
			h2 Hover me!
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
	.card.border-left-behind
		.shadow(style="--url: url('https://i.ibb.co/gSBp82C/b-full.png')")
		.image.background(style="--url: url('https://i.ibb.co/MDBcyMW/b-background.png')")
		.image.cutout(style="--url: url('https://i.ibb.co/bQNgD6y/b-cutout.png')")
		.content
			h2 Hover me!
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit.