<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Portal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="w-100 d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <h3 class="text-danger mb-3">Login Form</h3>
    <form action="/login" class="shadow py-4 px-4 rounded" style="width: 320px;" method="post">
        <input class="form-control my-3" placeholder="Username" type="text" name="username"/>
        <input class="form-control my-3" placeholder="Password" type="password" name="password"/>
        <button class="btn btn-primary w-100 my-3" type="submit">Login</button>
    </form>
</body>
</html>