body{
    background: url('./wall.jpg');
    background-size: cover;
    font-family: 'montserrat', sans-serif;
    color: rgba(63, 13, 13, 0.74);
    text-align: center;
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  h1 {
    padding-top: 2em;
    font-size: 3rem;
  }
  
  nav {
    padding-top: 10%;
  }

  nav a {
    text-decoration: none;
    color: rgba(63, 13, 13, 0.74);
    padding-top: 1rem;
    padding: .5em;
    text-transform: uppercase;
    font-size: 1.25rem;
  }
  
  .highlight {
    transition: all 0.2s;
    border-bottom: 2px solid whitesmoke;
    position: absolute;
    top: 0;
    background: rgba(192, 137, 137, 0.835);
    /* background: rgba(153, 75, 75, 0.979); */
    left: 0;
    z-index: -1;
    border-radius: 30px;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  

  .footer{
    position: absolute;
    bottom: 10px;
    width: 100%;
  }

.heart{color: #b14240;}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
  /* This makes the content wrapper take up available space */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the cards horizontally */
  justify-content: center;
  /* Center the cards vertically */
}

.card {
  margin: 20px;
}

footer {
  /* background-color: #00ffe1; */
  text-align: center;
  color: #fa0404be;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 25px;
}