:root {
  --navcolor: #8294b9;
  --light-blue: #00246B;
  --bodycolor: #CADCFC;
  --fontcolor: black
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  color: var(black);
}

nav {
  display: flex;
  height: 70px;
  align-items: center;
  background-color: var(--navcolor);
  padding: 4px;
  justify-content: space-around;


}

nav p {
  font-size: 1.3rem;

  font-weight: 600;
}

.main {
  background-color: var(--bodycolor);
  width: 100%;
  display: flex;
  justify-content: space-around;





}

.banner {
  min-width: 80%;
  height: 300px;
  /* background-color: rgb(233, 204, 239); */
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border: 1px solid;
  transition: all linear ease-out 0.2s;
  background-image: url("./image/9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10PX;
}

.banner i {
  font-size: 2rem;
  color: black;
}

.login-cart {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.profile {
  height: 50px;
  width: 50px;
  display: flex;
  object-fit: cover;
  border-radius: 50%;
}

.profile img {
  border-radius: 50%;
  width: 100%;
  height: 100%;

}

.user-button button {
  padding: 6px 12px;
  outline: none;
  border: none;
  border-radius: 10px;
}

.cart {
  position: relative;
  display: flex;
}

.cart i {
  font-size: 1.7rem;
}

.cart span {
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  top: 8px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {

  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-color: var(--bodycolor)s;

}

.title h1 {
  background-color: rgb(103, 96, 96);
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  padding: 5px;
  border: 1px solid;
  border-radius: 30px;
  display: inline-block;
}

.itemmanu ul {
  display: flex;
  gap: 20px;


}

.itemmanu {
  display: flex;
  justify-content: center;
}

.itemmanu ul li {
  border: 1px solid;
  border-radius: 10px;
  list-style: none;
  padding: 6px;
}

.contaner {

  background-color: var(--bodycolor);
}

.manu {
  /* width: 80%; */
  margin: 10px auto;
}

.card-contaner {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background-color: #fdfeff;
  border: 1px solid;
  border-top-left-radius: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 5px;
  width: 280px;
  height: 350px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.card img {
  object-fit: cover;
  height: 200px;
  width: 100%;

  border-top-left-radius: 50px;
  border-top-right-radius: 5px;
}

.buttom {
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.order-addtocart {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.order-addtocart button {
  padding: 5px;
  background-color: crimson;
  outline: none;
  border-radius: 20px;
  border: none;

}

.price-name {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 6px;
}

.rate {
  display: flex;
  justify-content: space-between;
  padding: 7px;
}